@import "tailwindcss";
@import "tw-animate-css";

:root {
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  color: oklch(0 0 0);
  line-height: 1.8;
  font-size: 16px;
  letter-spacing: 0.25em;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --radius: 0.625rem;
  --background: oklch(0.9676 0.0057 84.57);
  --foreground: oklch(0.2274 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --link: oklch(0.7487 0.0116 182.76);
  --accent: oklch(0.4158 0.009 132.52);
  --accent-darker: oklch(0.3335 0.037 230.12);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --edward-green: oklch(0.7487 0.0116 182.76);
  --edward-green-opacity: 0.7487 0.0116 182.76;
  --lunar-green: oklch(0.4158 0.009 132.52);
  --soft-amber: oklch(0.8365 0.0241 69.55);
  --soft-amber-opacity: 0.8365 0.0241 69.55;
  --grey-chateau: oklch(0.6963 0.0185 256.31);
  --grey-chateau-opacity: 0.6963 0.0185 256.31;
  --pale-daisy: oklch(0.9906 0.0135 92.98);
  --pale-daisy-darker: oklch(0.9203 0.0135 92.98);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--pale-daisy);
  --color-secondary-foreground: var(--lunar-green);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

@layer base {
  body {
    background-color: var(--background);
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
  } 

  main {
    overflow-x: hidden;
  }

  section {
    width: 100%;
    padding: 40px 0;
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .section-content {
      border-radius: 20px;
      padding: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 90%;
      @media (max-width: 820px) {
        width: 100%;
        padding: 40px 15px;
      }
  
    }
  }
  .section-white {
    color: var(--lunar-green);
  }

  .section-light-green {
    background-color: oklch(var(--edward-green-opacity) / 0.5);
    color: var(--lunar-green);

  }
  
  .section-dark-green {
    background-color: var(--lunar-green);
    color: var(--background);
  }

  .section-grey {
    background-color: var(--grey-chateau);
    color: var(--background);
  }

  .section-brown {
    background-color: oklch(var(--soft-amber-opacity) / 0.7);
    color: var(--lunar-green);

  }
  .section-yellow {
    background-color: var(--pale-daisy);
    color: var(--lunar-green);
  }

  h1 {
    font-family: "Taviraj", Helvetica, Arial, sans-serif;
    font-size: 4em;
    line-height: 1.1;
    font-weight: 500;
  }
  
  h2 {
    font-size: 2em;
    line-height: 1.1;
  }
  
  h3 {
    font-size: 1.5em;
    line-height: 1.1;
  }
  
  a {
    color: var(--link);
    font-weight: 600;
    &:hover {
      text-decoration: underline;
    }
  }

}


/* Animations --- START */
.preFadeIn {
  opacity: 0;
}

.fadeIn {
  animation: fadeIn 2s forwards;
}

#home {
  img {
    animation: fadeIn 3s forwards;
  }
  .home-title {
    animation: slideDown 5s forwards;
  }
  .event-details {
    animation: slideUp 5s forwards;
  }

}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Animations --- END */
